name: Deploy
on:
  workflow_dispatch:
 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Install SSH key
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Login to instance
        run: |
           ssh -o StrictHostKeyChecking=no ubuntu@50.17.135.45 << 'EOF'
           sudo su
           aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 495395224185.dkr.ecr.us-east-1.amazonaws.com
           sudo docker stop smoke_test 
           sudo docker rm smoke_test
           sudo docker pull ${{ steps.login-ecr.outputs.registry }}/nginx:latest || true
           sudo docker run -d --name smoke_test -p 5000:5000 docker push 495395224185.dkr.ecr.us-east-1.amazonaws.com/nginx:latest



